
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
      <title>Blog Section HTML</title>
     
      <link rel="stylesheet" href="style.css">
      
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
     
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  </head>
  <body>
  <div class="video">
    <video autoplay loop muted src="bgvideo.mp4"></video>
      <section id="blog">
  
          <div class="blog-heading">
              <strong>Recent Post</strong>
              <h3>Our Blog</h3>
          </div>
  
         
          <div class="blog-box-container">
          
             
              <div class="blog-box">
              
                  <div class="blog-box-img">
                      <img alt="blog" src="com.jpg">
                      <a href="https://www.apple.com/in/mac/" class="blog-img-link">
                          <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      </a>
                  </div>
                  
                  <div class="blog-box-text">
                      <strong>macbook</strong>
                      <a href="#">MACBOOK, What It Is and How It Is Used</a>
                      <p>The MacBook is a line of laptops designed and manufactured by Apple Inc., known for its sleek design, high performance, and integration with macOS operating system.</p>
                      <div class="blog-author">
                          <div class="blog-author-img">
                              <img alt="" src="Ellipse 1-image.jpg">
                          </div>
                          <div class="blog-author-text">
                              <strong>ELIS</strong>
                              <span>Jan 12, 2022</span>
                          </div>
                      </div>
                  </div>
              </div>
  
             
              <div class="blog-box">
                  
                  <div class="blog-box-img">
                      <img alt="blog" src="ROLEXDA.jpg">
                      <a href="https://www.rolex.com/watches?gclid=CjwKCAjwwr6wBhBcEiwAfMEQs9n-WVWg283cNVHRMcvSVHa67V_2d031scC81zmionmAf0TfaCstuBoCr9QQAvD_BwE&ef_id=CjwKCAjwwr6wBhBcEiwAfMEQs9n-WVWg283cNVHRMcvSVHa67V_2d031scC81zmionmAf0TfaCstuBoCr9QQAvD_BwE:G:s&s_kwcid=AL!141!3!682973060331!e!!g!!rolex%20watches!8671767032!85335562765&gad_source=1" class="blog-img-link">
                          <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      </a>
                  </div>
               
                  <div class="blog-box-text">
                      <strong>ROLEX WATCH</strong>
                      <a href="#">ROLEX WATCH, HOW THE LOOK It Is AND performance</a>
                      <p>
                        Rolex is a prestigious Swiss watchmaker renowned for its luxury timepieces, celebrated for their precision, durability, and timeless elegance, representing status and craftsmanship.
                        <div class="blog-author">
                          <div class="blog-author-img">
                              <img alt="" src="about.png">
                          </div>
                          <div class="blog-author-text">
                              <strong>KAVIN</strong>
                              <span> MAY 12, 2009</span>
                          </div>
                      </div>
                  </div>
              </div>
  
  
             
              <div class="blog-box">
                
                  <div class="blog-box-img">
                      <img alt="blog" src="GT.avif">
                      <a href="https://www.royalenfield.com/in/en/motorcycles/continental-gt/" class="blog-img-link">
                          <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      </a>
                  </div>
                  
                  <div class="blog-box-text">
                      <strong>gt-650</strong>
                      <a href="#">GT-650,  Its look and speed</a>
                      <p>The GT-650 is a motorcycle model produced by Hyosung Motors, known for its sporty design, powerful engine, and agile handling, offering an exhilarating riding experience for enthusiasts.</p>
                      <div class="blog-author">
                          <div class="blog-author-img">
                              <img alt="" src="coffee-hero-image.png">
                          </div>
                          <div class="blog-author-text">
                              <strong>Alax</strong>
                              <span>JUL 12, 2003</span>
                          </div>
                      </div>
                  </div>
              </div>
          
          </div>
      
      </section>
      
      <section id="blog">
 
          <div class="blog-box-container">
    
              <div class="blog-box">
           
                  <div class="blog-box-img">
                      <img alt="blog" src="004_kv_secondary_galaxy_s23ultra_spen_2p.jpg">
                      <a href="https://www.samsung.com/in/smartphones/galaxy-s23/buy/?modelCode=SM-S911BLGBINS&cid=in_pd_ppc_google_im-mobile-smartphones-f1h23-dtc_sales_samsung-f1h23-all-2023_eshop-text-rlsa_01jan2023-na_1ur-501272l-2024-eshop-bau-rlsa-cpc_pfm-694266562997-19552163951-162992119111-kwd-297704859501-s23-e--g--&gad_source=1&gclid=CjwKCAjwwr6wBhBcEiwAfMEQs93l0pf7bJ3Ss9r5YNaoBwooaTVDwvFL4eOQwRFxjREKU_mlh3VUqRoCU64QAvD_BwE" class="blog-img-link">
                          <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      </a>
                  </div>
                  <!--text-->
                  <div class="blog-box-text">
                      <strong>SAMSUNG S23 ULTRA</strong>
                      <a href="#">SAMSUNG S23 ULTRA,ITZ CAMERA QUALITY AND PROCESSOR</a>
                      <p>Samsung is known for its high-quality displays,supporting features
                        like HDR10+ and high refresh rates.</p>
                      <div class="blog-author">
                          <div class="blog-author-img">
                              <img alt="" src="sport.jpg">
                          </div>
                          <div class="blog-author-text">
                              <strong>AlaN</strong>
                              <span>nov 3, 2007</span>
                          </div>
                      </div>
                  </div>
              </div><!--box-end-->
  
              <!-- **box** -->
              <div class="blog-box">
                  
                  <div class="blog-box-img">
                      <img alt="blog" src="scarex.webp">
                      <a href="https://scarex.in/" class="blog-img-link">
                          <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      </a>
                  </div>
                  
                  <div class="blog-box-text">
                      <strong>OVERSIZED T-SHIRT</strong>
                      <a href="#">OVERSIZED T-SHIRT,ITS STYLE AND QUALITY</a>
                      <p> Oversized T-shirts are intentionally designed to have a looser and larger fit compared to regular T-shirts.</p>
                      <div class="blog-author">
                          <div class="blog-author-img">
                              <img alt="" src="scar.png">
                          </div>
                          <div class="blog-author-text">
                              <strong>SCAREX</strong>
                              <span>JUN 1, 2022</span>
                          </div>
                      </div>
                  </div>
              </div><!--box-end-->
  
  
              <!-- **box** -->
              <div class="blog-box">
                  <!--img-->
                  <div class="blog-box-img">
                      <img alt="blog" src="SHOE.webp">
                      <a href="https://m.indiamart.com/proddetail/men-white-boot-shoes-2852057366130.html" class="blog-img-link">
                          <i class="fa-solid fa-arrow-up-right-from-square"></i>
                      </a>
                  </div>
                  <!--text-->
                  <div class="blog-box-text">
                      <strong>BOOT SHOE</strong>
                      <a href="#">BOOT-SHOE,ITZ STYLISH,COMFORT</a>
                      <p>Boot shoes are a type of footwear characterized by their higher ankle coverage, providing support, protection, and style. </p>
                      <div class="blog-author">
                          <div class="blog-author-img">
                              <img alt="" src="USER.png">
                          </div>
                          <div class="blog-author-text">
                              <strong>Alax</strong>
                              <span>Jan 12, 2023</span>
                          </div>
                      </div>
                  </div>
              </div><!--box-end-->
          
          </div>
      
      </section>
    </div>
  
  </body>
  </html>